<!--content-2 -->
<div{% if wp_mode %} class="dm-template" dm-template="content.content2" component-id="{{ component_id }}"{% endif %}>
<section class="content-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3 {% if edit_mode %}text-angular ta-toolbar="[ ['bold', 'italics', 'insertLink', 'color', 'font', 'fake'] ]" ng-model="data.title"{% endif %}>{{ title }}</h3>
                <p {% if edit_mode %}text-angular ta-toolbar="[ ['bold', 'italics', 'insertLink', 'color', 'font', 'fake'] ]" ng-model="data.description"{% endif %}>
				{{ description }}
                </p>
                <div class="btns">
                    <a
                    class="btn btn-primary btn-editable fui-apple"
                    href="{{ btn_primary.url }}"
                    {% if edit_mode %}
                        ng-href="[[ data.btn_primary.url ]]"
                        dm-contenteditable
                        ng-model="data.btn_primary.name"
                    {% endif %}>
                        {% if edit_mode %}
                        <customizer class="dm-popover popover fade top">
                            <div class="dm-control-button" ng-class="{hasUrl: data.btn_primary.url}" dm-edit-url="data.btn_primary.url"></div>
                        </customizer>
                        {% endif %}
                        {{ btn_primary.name }}
                    </a>
                    <a
                    {% if edit_mode %}
                        ng-href="[[ data.more.url ]]"
                    {% endif %}
                    href="{{ more.url }}">
                        {% if edit_mode %}
                        <customizer class="dm-popover popover fade top">
                            <div class="dm-control-button" ng-class="{hasUrl: data.more.url}" dm-edit-url="data.more.url"></div>
                        </customizer>
                        {% endif %}
                        <b
                        {% if edit_mode %}
                            dm-contenteditable
                            ng-model="data.more.name"
                        {% endif %}>
                            {{more.name}}
                        </b>
                    </a>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <div class="player">
                    {% if edit_mode %}
                        <customizer class="dm-popover popover fade top">
                            <div class="dm-control-button" ng-class="{hasUrl: data.player.src}" dm-edit-url="data.player.src" dm-edit-url-type="video"></div>
                        </customizer>
                        <div
                            dm-video="data.player.src"
                            width="212"
                            height="142"
                            class="embed-video"
                            id="pPlayer{{ component_id }}">
                        </div>
                    {% else %}
                        <div class="embed-video">
                            <iframe id="pPlayer{{ component_id }}" data-src="{{ player.src }}" frameborder="0" width="458" height="250" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
</div>