<!--content-29 -->
<div{% if wp_mode %} class="dm-template" dm-template="content.content29" component-id="{{ component_id }}"{% endif %}>
    <section class="content-29">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 {% if edit_mode %}text-angular ta-toolbar="[ ['bold', 'italics', 'insertLink', 'color', 'font', 'fake'] ]" ng-model="data.title"{% endif %}>{{ title }}</h3>
                <p {% if edit_mode %}text-angular ta-toolbar="[ ['bold', 'italics', 'insertLink', 'color', 'font', 'fake'] ]" ng-model="data.description"{% endif %}>{{ description }}</p>
            </div>
            <div class="player">
                {% if edit_mode %}
                <customizer class="dm-popover popover fade top">
                    <div class="dm-control-button" ng-class="{hasUrl: data.player.src}" dm-edit-url="data.player.src" dm-edit-url-type="video"></div>
                </customizer>
                <div
                    dm-video="data.player.src"
                    class="embed-video"
                    id="pPlayer{{ component_id }}">
                </div>
                {% else %}
                <div class="embed-video">
                    <iframe id="pPlayer{{ component_id }}" data-src="{{ player.src }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                {% endif %}
            </div>
            <div class="row features">
                {% if edit_mode %}
                <div ng-repeat="row in data.rows" ng-class="{
                    'col-sm-3': $index == 0,
                    'col-sm-4 col-sm-offset-1': $index == 1,
                    'col-sm-3 col-sm-offset-1': $index == 2
                }">
                    <div class="img-holder">
                        <div class="img-wrapper custom-img">
                            <img 
                            alt="" 
                            width="100" 
                            height="100"
                            ng-class="{'removed-image': row.image == '../../../img/1x1.png'}"
                            ng-src="{{ sfBuildUri }}[[ row.image ]]" />
                            <customizer class="dm-popover popover fade top dm-image">
                                <div class="dm-control-button" data-width="100" dm-upload-type="image" dm-upload-media="row.image"></div>
                                <div class="dm-control-button" data-width="50" dm-remove-media="row.image"></div>
                            </customizer>
                        </div>
                    </div>
                    <h6 text-angular ta-toolbar="[ ['bold', 'italics', 'insertLink', 'color', 'font', 'fake'] ]" ng-model="row.title"></h6>
                    <span text-angular ta-toolbar="[ ['bold', 'italics', 'insertLink', 'color', 'font', 'fake'] ]" ng-model="row.description"></span>
                </div>
                {% else %}
                    {% for row in rows %}
                        <div class="{% if loop.index == 1 %}col-sm-3{% endif %} {% if loop.index == 2 %}col-sm-4 col-sm-offset-1{% endif %} {% if loop.index == 3 %}col-sm-3 col-sm-offset-1{% endif %}">
                            <div class="img-holder">
                                <div class="img-wrapper">
                                    <img 
                                    src="{{sfBuildUri}}{{ row.image }}"
                                    alt="" 
                                    width="100" 
                                    height="100" />
                                </div>
                            </div>
                            <h6>{{ row.title }}</h6>
                            <span>{{ row.description }}</span>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
</div>