<!-- crew-1 -->
<div{% if wp_mode %} class="dm-template" dm-template="crew.crew1" component-id="{{ component_id }}"{% endif %}>
    <section class="crew-1">
        <div class="container">
            <h3 {% if edit_mode %} text-angular ta-toolbar="[ ['bold', 'italics', 'insertLink', 'color', 'font', 'fake'] ]" ng-model="data.title" {% endif %}>{{ title }}</h3>
            {% if edit_mode %}
            <div class="members" ng-repeat="membersRow in data.membersRows">
                <div class="member-wrapper" ng-repeat="member in membersRow.members">
                    <div class="member">
                        <div class="photo-wrapper">
                            <div class="photo custom-img" ng-style="{ 'background-image': 'url({{ sfBuildUri }}' + member.image + ')'}">
                                <img
                                ng-class="{'removed-image': member.image == '../../../img/1x1.png'}"
                                ng-src="{{ sfBuildUri }}[[ member.image ]]"
                                alt="" />
                            </div>
                            <div class="overlay"><span class="fui-eye"></span></div>
                            <customizer class="dm-popover popover fade top dm-image">
                                <div class="dm-control-button" data-width="220" dm-upload-type="image" dm-upload-media="member.image"></div>
                                <div class="dm-control-button" data-width="50" dm-remove-media="member.image"></div>
                            </customizer>
                        </div>
                        <div class="info">
                            <div class="name" dm-contenteditable ng-model="member.name"></div>
                            <span dm-contenteditable ng-model="member.title"></span>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
                {% for membersRow in membersRows %}
                    <div class="members">
                        {% for member in membersRow.members %}
                        <div class="member-wrapper">
                            <div class="member">
                                <div class="photo-wrapper">
                                    <div class="photo" style="background-image: url({{ sfBuildUri }}{{ member.image}})">
                                        <img
                                        src="{{ sfBuildUri }}{{ member.image }}"
                                        alt=""/>
                                    </div>
                                    <div class="overlay"><span class="fui-eye"></span></div>
                                </div>
                                <div class="info">
                                    <div class="name">{{ member.name }}</div>
                                    <span>{{ member.title }}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
</div>