<!--content-16 -->
<div{% if wp_mode %} class="dm-template" dm-template="content.content16" component-id="{{ component_id }}"{% endif %}>
    <section class="content-16 v-center">
        <div>
            <div class="container">
                <h3>
                    <div class="img-holder">
                        <div class="img-wrapper custom-img">
                            <img 
                            src="{{ sfBuildUri }}{{ image }}" 
                            width="100" 
                            height="100" 
                            alt=""
                            ng-class="{'removed-image': data.image == '../../../img/1x1.png'}"
                            {% if edit_mode %}
                                ng-src="{{ sfBuildUri }}[[ data.image ]]"
                            {% endif %} /> 
                            {% if edit_mode %}
                            <customizer class="dm-popover popover fade top dm-image">
                                <div class="dm-control-button" data-width="100" dm-upload-type="image" dm-upload-media="data.image"></div>
                                <div class="dm-control-button" data-width="50" dm-remove-media="data.image"></div>
                            </customizer>
                            {% endif %}
                        </div>
                    </div>
                    <span {% if edit_mode %}text-angular ta-toolbar="[ ['bold', 'italics', 'insertLink', 'color', 'font', 'fake'] ]" ng-model="data.title"{% endif %}>{{ title }}</span>
                </h3>
                <p {% if edit_mode %}text-angular ta-toolbar="[ ['bold', 'italics', 'insertLink', 'color', 'font', 'fake'] ]" ng-model="data.description"{% endif %} class="lead">{{ description }}</p>
            </div>
        </div>
        <a class="control-btn fui-arrow-down" href="#"> </a>
    </section>
</div>