<!-- header-20 -->
<div{% if wp_mode %} class="dm-template" dm-template="header.header20" component-id="{{ component_id }}"{% endif %}>
    <header class="header-20">
        <div class="container">
            <div class="row">
                <div class="navbar col-sm-12" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle"></button>
                        <a
                       {% if edit_mode %}
                           ng-href="[[ data.brand.url ]]"
                       {% endif %}
                        class="brand custom-img"
                        href="{{ brand.url }}">
                            {% if edit_mode %}
                            <customizer class="dm-popover popover fade top dm-image">
                                <div class="dm-control-button" data-width="50" dm-upload-type="image" dm-upload-media="data.brand.image"></div>
                                <div class="dm-control-button" data-width="50" dm-remove-media="data.brand.image"></div>
                                <div class="dm-control-button" ng-class="{hasUrl: data.brand.url}" dm-edit-url="data.brand.url"></div>
                            </customizer>
                            {% endif %}
                            <img
                            src="{{ sfBuildUri }}{{ brand.image }}"
                            width="50"
                            height="50"
                            alt=""
                            ng-class="{'removed-image': data.brand.image == '../../../img/1x1.png'}"
                            {% if edit_mode %}
                                ng-src="{{ sfBuildUri }}[[ data.brand.image ]]"
                            {% endif %}/>
                            <span
                            {% if edit_mode %}
                                 dm-contenteditable
                                 ng-model="data.brand.name"
                            {% endif %}>
                                {{ brand.name }}
                            </span>
                        </a>
                    </div>
                    <div class="navbar-collapse collapse pull-right">
                        {% macro render_one_line_menu(items) %}
                            <ul class="nav pull-right">
                                {% for item in items %}
                                    <li>
                                        <a href="{{ item.url }}">{{ item.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endmacro %}
                        {% if wp_mode %}
                            {{ _self.render_one_line_menu(headerMenu.items) }}
                            {% if edit_mode %}
                            <customizer class="dm-popover popover fade top">
                                <div class="dm-control-button" dm-external-nav="{{ menuEditPageUriPattern|format(headerMenu.id) }}"></div>
                            </customizer>
                            {% endif %}
                        {% else %}
                            {{ _self.render_one_line_menu(menu) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="header-background"></div>
    </header>
    <section
    class="header-20-sub dm-controlsView-holder"
    {% if edit_mode %}
        ng-style="{'background-color': data.bg_color}"
    {% else %}
        style="background-color: {{ bg_color }}"
    {% endif %}>
        {% if edit_mode %}
        <div class="dm-controls dm-controlsView-btns dm-bg-image" ng-class="{'hide-opacity-widget': !data.bg_image || data.bg_image == '../../../img/1x1.png'}">
            <div class="btn-group">
                <div class="dm-control-button" dm-remove-media="data.bg_image"></div>
                <div class="dm-control-button" dm-upload-media="data.bg_image"></div>
                <div class="dm-control-button" dm-opacity="data.opacity" dm-gradient="data.bg_color"></div>
                <div class="dm-control-button" dm-bg-color="data.bg_color"></div>
            </div>
        </div>
        {% endif %}
        <div class="background"
        {% if edit_mode %}
            ng-style="{
                'background-image': 'url({{ sfBuildUri }}' + data.bg_image + ')',
                'opacity': data.opacity
            }"
        {% else %}
            style="background-image: url({{ sfBuildUri }}{{ bg_image }}); opacity: {{ opacity }}"
        {% endif %}>&nbsp;</div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2 pull-right">
                    <div class="img-wrapper">
                        <img src="{{sfBuildUri}}/common-files/img/header/hexahedron@2x.png" width="334" height="324" alt="">
                        <div class="visible-xs"><img src="{{sfBuildUri}}/common-files/img/header/browser-iphone@2x.png" width="300" height="300" alt="">
                        </div>
                        <div class="img hidden-xs">
                            <img src="{{sfBuildUri}}/common-files/img/header/browser-iphone@2x.png" width="300" height="300" alt="">
                            <img src="{{sfBuildUri}}/common-files/img/header/browser1@2x.png" width="240" height="255" alt="">
                            <img src="{{sfBuildUri}}/common-files/img/header/iphone@2x.png" width="144" height="264" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <h3 {% if edit_mode %} text-angular ta-toolbar="[ ['bold', 'italics', 'insertLink', 'color', 'font', 'fake'] ]" ng-model="data.title"{% endif %}>{{ title }}</h3>
                    <p {% if edit_mode %} text-angular ta-toolbar="[ ['bold', 'italics', 'insertLink', 'color', 'font', 'fake'] ]" ng-model="data.description"{% endif %}>{{ description }}</p>
                    <a
                    class="btn btn-info"
                    {% if edit_mode %}
                    dm-contenteditable
                    ng-model="data.learn_more.name"
                    {% endif %}
                    href="{{ learn_more.url }}">
                    {{ learn_more.name }}
                    {% if edit_mode %}
                    <customizer class="dm-popover popover fade top">
                        <div class="dm-control-button video" ng-class="{hasUrl: data.learn_more.url}" dm-edit-url="data.learn_more.url"></div>
                    </customizer>
                    {% endif %}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 col-sm-offset-1">
                    <div class="videos">
                        {% if edit_mode %}
                        <div
                        ng-repeat="video in data.video_box">
                            <div class="video-box">
                                <div class="player">
                                    <a class="btn btn-play fui-play"  target="_blank"  ng-href="{{ video.src }}">
                                        {% if edit_mode %}
                                            <customizer class="dm-popover popover fade top">
                                                <div class="dm-control-button video" ng-class="{hasUrl: video.src}" dm-edit-url="video.src"></div>
                                            </customizer>
                                        {% endif %}
                                    </a>

                                </div>
                                <div class="description" text-angular ta-toolbar="[ ['bold', 'italics', 'insertLink', 'color', 'font', 'fake'] ]" ng-model="video.description"></div>
                            </div>
                        </div>
                        {% else %}
                            {% for video in video_box %}
                            <div class="video-box">
                                    <div class="player">
                                        <a target="_blank" href="{{ video.src }}" class="btn btn-play fui-play"></a>
                                    </div>
                                    <div class="description">{{ video.description }}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>