<!--content-5 -->
<div{% if wp_mode %} class="dm-template" dm-template="content.content5" component-id="{{ component_id }}"{% endif %}>
    <section class="content-5">
        <div class="container">
            <div class="img-holder">
                <div class="img-wrapper custom-img">
                    {% if edit_mode %}
                    <customizer class="dm-popover popover fade top dm-image">
                        <div class="dm-control-button" data-width="200" dm-upload-type="image" dm-upload-media="data.image" ></div>
                        <div class="dm-control-button" data-width="50" dm-remove-media="data.image"></div>
                    </customizer>
                    {% endif %}
                    <img 
                    width="200" 
                    height="200"
                    alt=""
                    ng-class="{'removed-image': data.image == '../../../img/1x1.png'}"
                    src="{{ sfBuildUri }}{{ image }}"
                    {% if edit_mode %}
                        ng-src="{{ sfBuildUri }}[[ data.image ]]"
                    {% endif %}/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h3 {% if edit_mode %}text-angular ta-toolbar="[ ['bold', 'italics', 'insertLink', 'color', 'font', 'fake'] ]" ng-model="data.title"{% endif %}>{{ title }}</h3>
                    <p {% if edit_mode %}text-angular ta-toolbar="[ ['bold', 'italics', 'insertLink', 'color', 'font', 'fake'] ]" ng-model="data.description"{% endif %} class="lead">{{ description }}</p>
                </div>
            </div>
            {% if edit_mode %}
            <div class="row features" ng-repeat="featureRow in data.featuresRow">
                <div class="col-sm-4" ng-class="{'col-sm-offset-2': $first, 'col-sm-offset-1': !$first}" ng-repeat="item in featureRow.item">
                    <span ng-class="item.icon.name">
                        <customizer class="dm-popover popover fade top">
                            <div dm-change-icon="item.icon.name" dm-change-icon-url="item.icon.url" class="dm-change-icon"></div>
                        </customizer>
                    </span>
                    <h6
                    text-angular
                    ta-toolbar="[ ['bold', 'italics', 'insertLink', 'color', 'font', 'fake'] ]"
                    ng-model="item.title"></h6>
                    <p
                    text-angular
                    ta-toolbar="[ ['bold', 'italics', 'insertLink', 'color', 'font', 'fake'] ]"
                    ng-model="item.name"></p>
                </div>
            </div>
            {% else %}
                {% for featureRow in featuresRow %}
                <div class="row features">
                    {% for item in featureRow.item %}
                    <div class="col-sm-4 {% if loop.first %} col-sm-offset-2{% else %} col-sm-offset-1{% endif %}">
                        {% if item.icon.url %}
                            <a href="{{ item.icon.url }}">
                                <span class="{{ item.icon.name }}"> </span>
                            </a>
                        {% else %}
                            <span class="{{ item.icon.name }}"> </span>
                        {% endif %}
                        <h6>{{ item.title }}</h6>
                        <p>{{ item.name }}</p>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
</div>