<!DOCTYPE html>
<html lang="en" ng-app="DMApp" class="loaded">
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if edit_mode %}{{wp_title}}{% else %}{{ function('wp_title') }}{% endif %}</title>
        <meta name="description" content="{{site.description}}">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link rel="pingback" href="{{site.pingback_url}}" />
        {{ function('wp_head') }}
        <script data-cfasync="false" type="text/javascript">
            var ajaxurl = "{{ ajaxurl }}";
            var sfBuildUri = "{{ sfBuildUri }}";
            var themeUri = "{{ themeUri }}";
            var currentLayoutId = "{{ current_layout_id }}";
            var currentPostId = "{{ current_post_id }}";
            (function () {
                var msgs = {{ msgs|json_encode() }};
                if (msgs) {
                    var msg = '',
                        sep = "\n";

                    for (var group in msgs) {
                        for (var index in msgs[group]) {
                            msg += msgs[group][index] + sep;
                        }
                    }
                    alert(msg);
                }
            })();
        </script>

        <link rel="shortcut icon" href="{{ themeUri }}favicon.ico">
        <link rel="stylesheet" href="{{ sfBuildUri }}flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="{{ sfBuildUri }}flat-ui/css/flat-ui.css">

        <link rel="stylesheet" href="{{ sfBuildUri }}common-files/css/icon-font.css">
        <link rel="stylesheet" href="{{ sfBuildUri }}common-files/css/animations.css">
        <link rel="stylesheet" href="{{ sfBuildUri }}common-files/css/wp-common.css">
        {% if debug_mode %}
            <link rel="stylesheet" href="{{ themeUri }}css/jquery.minicolors.css">
            <link rel="stylesheet" href="{{ themeUri }}css/ng-slider.css">
            <link rel="stylesheet" href="{{ themeUri }}css/custom.css">
            <link rel="stylesheet" href="{{ themeUri }}css/topMenu.css">
        {% else %}
        <link rel="stylesheet" href="{{ themeUri }}css/jquery.minicolors.css">
            <link rel="stylesheet" href="{{ themeUri }}css/ng-slider.css">
            <link rel="stylesheet" href="{{ themeUri }}css/custom.css">
            <link rel="stylesheet" href="{{ themeUri }}css/topMenu.css">
{#             <link rel="stylesheet" href="{{ themeUri }}css/sf.min.css">#}
        {% endif %}
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        {% if edit_mode %}
            <link rel="stylesheet" id="initCSSFile" href="{{ ajaxurl }}?action=sf_api&method=component.css.get&params[component_ids]=[{{ current_component_ids|join(',') }}]">
            <style id="mainCSSFile" type="text/css"></style>
        {% else %}
            <link rel="stylesheet" href="{{ ajaxurl }}?action=sf_api&method=layout.css.get&params[layout_id]={{ current_layout_id }}">
        {% endif %}

        <link rel="stylesheet" href="{{ ajaxurl }}?action=sf_api&method=settings.globalcss.get">
        <script src='https://maps.google.com/maps/api/js?sensor=false'></script>
    </head>
    <body {% if edit_mode %} class="edit-mode startup preview" ng-controller="DMCtrl"{% else %}class="startup"{% endif %}>
        <div id="loader-container"></div>
        {% if edit_mode %}
        <div id="menu">
            <div id="sideMenu">
                <ul>
                    <li data-menu-item="header">Headers</li>
                    <li data-menu-item="content">Contents</li>
                    <li data-menu-item="price">Price Tables</li>
                    <li data-menu-item="projects">Projects</li>
                    <li data-menu-item="contacts">Contacts</li>
                    <li data-menu-item="crew">Crew</li>
                    <li data-menu-item="footer">Footers</li>
                </ul>
                <ul id="existingBlocks">
                    <li data-menu-item="myBlocks">
                        <span>My Blocks</span>
                        <span class="loader"></span>
                    </li>
                    <div class="existingBlocksOverlay"></div>
                </ul>
            </div>
            <div id="subMenu" class="invisible"></div>
            {% if edit_mode %}
            <div class="dm-controls dm-toggle-holder">
                <div class="dm-control-button dm-toggle">
                    <i class="dm-widget-icon">
                        <svg width="20px" height="16px" viewBox="0 0 23 14" class="i-menu" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                <path d="M1.5,2 L20.5,2 L21.5,2 L21.5,0 L20.5,0 L1.5,0 L0.5,0 L0.5,2 L1.5,2 L1.5,2 Z M1.5,8 L20.5,8 L21.5,8 L21.5,6 L20.5,6 L1.5,6 L0.5,6 L0.5,8 L1.5,8 M1.5,14 L20.5,14 L21.5,14 L21.5,12 L20.5,12 L1.5,12 L0.5,12 L0.5,14 L1.5,14" id="Line" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
                            </g>
                        </svg>
                    </i>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="topMenu">
            <div id="startMenu">
                <a class="arrow-btn" href="{{ bloginfo('url') }}/wp-admin/edit.php?post_type=sf_page"><span>&nbsp;</span><span>All Pages</span></a>
                <div class="title"><input type="edit" value="{{wp_title}}" id="postTitle" placeholder="Enter title" /></div>
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown trigger</a>
                <ul class="dropdown-menu btns-right" role="menu" aria-labelledby="dLabel">
                    <li><a id="reorderBlocks" href="#"><span>Reorder Blocks</span></a></li>
                    <li><a id="discardChanges" href="#"><span>Discard Changes</span></a></li>
                    <li><a id="previewLayout" href="#"><span>Preview</span></a></li>
                    <li>
                        <a href="#" class="dm-save disabled" id="saveChanges">Save</a>
                    </li>
                </ul>
            </div>
            <div id="reorderMenu" class="disabledMenu">
                <a class="arrow-btn" id="reorderBack" href="#"><span>&nbsp;</span><span>Back</span></a>
                <div class="title">Reorder Blocks</div>
                <ul class="btns-right">
                    <li><a id="reorderDiscard" href="#"><span>Discard Changes</span></a></li>
                    <li><a class="dm-save disabled" id="reorderSave" href="#">Save</a></li>
                </ul>
            </div>
            <div id="previewMenu" class="disabledMenu">
                <a class="arrow-btn" id="previewBack" href="#"><span>&nbsp;</span><span>Edit Mode</span></a>
                <div class="title">{{wp_title}}</div>
            </div>
            <div id="editingMenu" class="disabledMenu">
                <a class="arrow-btn" id="editingBack" href="#"><span>&nbsp;</span><span>Back</span></a>
                <div class="title">Edit HTML & CSS</div>
                <ul class="btns-right">
                    <li><a id="editingDiscard" href="#"><span>Discard Changes</span></a></li>
                    <li><a class="dm-save disabled" id="editingSave" href="#">Save</a></li>
                </ul>
            </div>
        </div>
        <div id="editingHolder">
            <h2 class="editingHolder-mainTitle">
                You’re going to customize this block, the code changes are irreversible.
                Don't worry, you can use the default block again.
                Visual Editor will be disabled after you save the changes.
            </h2>
            <h3 class="editingHolder-title">HTML</h3>
            <div id="editingHTMLHolder"></div>
            <h3 class="editingHolder-title">CSS</h3>
            <div id="editingCSSHolder"></div>
        </div>
        {% endif %}
        <div class="designmodo-wrapper {{body_class}}">
            <div id="templates">
