<!--content-23 -->
<div{% if wp_mode %} class="dm-template dm-controlsView-holder" dm-template="content.content23" component-id="{{ component_id }}"{% endif %}>
  {% if edit_mode %}
    <div class="dm-controls dm-controlsView-btns dm-bg-image" ng-class="{'hide-opacity-widget': !data.bg_image || data.bg_image == '../../../img/1x1.png'}">
        <div class="btn-group">
            <div class="dm-control-button" dm-remove-media="data.bg_image"></div>
            <div class="dm-control-button" dm-upload-media="data.bg_image"></div>
            <div class="dm-control-button" dm-opacity="data.opacity" dm-gradient="data.bg_color"></div>
            <div class="dm-control-button" dm-bg-color="data.bg_color"></div>
        </div>
    </div>
    {% endif %}
    <section
    class="content-23"
    {% if edit_mode %}
        ng-style="{'background-color': data.bg_color}"
    {% else %}
        style="background-color: {{ bg_color }}"
    {% endif %}>
      <div class="holder v-center">
        <div
        class="background"
        {% if edit_mode %}
            ng-style="{
                'background-image': 'url({{ sfBuildUri }}' + data.bg_image + ')',
                'opacity': data.opacity
            }"
        {% else %}
            style="background-image: url({{ sfBuildUri }}{{ bg_image }}); opacity: {{ opacity }}"
        {% endif %}
        >&nbsp;</div>
        <div>
            <div class="container">
                <div class="hero-unit hero-unit-bordered">
                     <h1 {% if edit_mode %}text-angular ta-toolbar="[ ['bold', 'italics', 'insertLink', 'color', 'font', 'fake'] ]" ng-model="data.title"{% endif %}>{{ title }}</h1>
               </div>
            </div>
        </div>
      </div>
         <a class="control-btn fui-arrow-down" href="#"> </a>
    </section>
</div>